<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="goat2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="controller.js"></script>
    <title>G.O.A.T Movies</title>

</head>

<body>
    <header>
        <div id="head">
            
            <h1> 
                <u1>
                    <li><a href="index1.html">G.O.A.T movies </a></li>
                    <li><a href="index3.html">Shop</a></li>
                    <li><a href="index2.html">About</a></li>
                    </h1>

                </u1>
        </div>
    </header>
    <main ng-view>
        <div class="content">
            <div ng-controller="myAppController">

            
                <form ng-submit ="addItemOfuser()">
                    <input type="text" placeholder="username" ng-model="item.username" />
                    <input type="text" placeholder="password" ng-model="item.password" />
                    <input type="text" placeholder="email" ng-model="item.email" />
                    <input type="submit" value="Sign In" />
                </form>

            </div>
        </div>
    </main>
</body>