<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <link rel="stylesheet" href="goat.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <script src="controller.js"></script>
  <title>G.O.A.T Movies</title>

</head>

<body>
  <header>
    <div id="head">
      <h1> <a href="index2.html">G.O.A.T </a></h1>
    </div>
  </header>
  <main ng-view>
    <div class="content">
      <div ng-controller="myAppController">

        <button ng-click="movie = 'name'">According to Name</button>
        <button ng-click="movie = 'IMDb'">According to IMDb</button>
        <input type="text" ng-model="search" placeholder="search" />
        <ul>
          <div ng-repeat="item in items  | orderBy:movie | filter:search ">

            <div class="container">

              <img ng-src="{{item.url}}" class="img-fluid" alt="your image" style="width:480px;height:480px;" />
              <div class="overlay">
                <div class="text">Movie:{{item.name}} <br>IMDb: {{item.IMDb}}<br>Year:{{item.year}}
                </div>
              </div>
            </div>

            <div class="remove" ng-click="removeItem(item)"> X </div>
            <div class="edit" ng-click="eddie(item)"> + </div>

          </div>
        </ul>

        <!-- <img id="blah" src="" alt="your image" style="width:480px;height:480px;"/> -->
        <form ng-submit="addItem()">
          <div class="custom-file">

            <input type="file" onchange="angular.element(this).scope().fileNameChanged(this)" class="custom-file-input"
              id="inputGroupFile01" />
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label> </div>
          <input type="text" placeholder="name" ng-model="item.name" />
          <input type="text" placeholder="year" ng-model="item.year" />
          <input type="text" placeholder="IMDb" ng-model="item.IMDb" />
          <input type="submit" value="Add Movie" />
        </form>
        <form ng-submit="showItemInBeginning()">
          
          <input type="submit" value="Sugar Show" />
        </form>
        <button class="btn btn-info" ng-click="dating()">Update</button>
      </div>
  </main>
  <footer>

    </div>
  </footer>
  </div>
</body>

</html>